<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - The Tech Academy LMS</title>

    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css")

    <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates" rel="stylesheet">

    <meta name="description" content="The Tech Academy Learning Management System (LMS)" />
</head>
<body>
    <header class="header-block navbar-static-top">
        <div>
            <a href="@Url.Action("Index","Home")"><img src="@Url.Content("/learningmanagementsystem/Images/_site_imgs/logo.png")" alt="Courses" class="navbar-brand site-header-logo brand-right-fluid" /></a>
            <button id="nav-toggle" class="btn btn-default btn-toggle">
                <span class="icon-text">Menu</span>
                <span class="icon-bar top-bar top-bar-collapsed"></span>
                <span class="icon-bar middle-bar middle-bar-collapsed"></span>
                <span class="icon-bar bottom-bar bottom-bar-collapsed"></span>

            </button>
        </div>

    </header>
    
    <nav class="navbar-closed" id="navbar-collapse-jq">
        
        <div class="nav-content">
            <div class="center">
                <ul class="nav navbar-nav">

                    @if (Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Courses", "Index", "Home")</li>
                        <li>@Html.ActionLink("Library", "Index", "Library")</li>
                        <li>@Html.ActionLink("Daily Report", "DailyReport", "DailyReport")</li>
                        <li><a href="https://support.procore.com/faq/how-do-i-change-my-web-browsers-default-email-client-for-mailto-links" target="_blank">Set Email</a></li>

                    }

                   

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
           
        </div>

    </nav>
    

    <div class="container course-body-content">
        
        @RenderBody()
        <hr />
        <footer>
            <p style="color:white;">&copy; @DateTime.Now.Year - The Tech Academy</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)
    <script>


        $("#nav-toggle").click(function () {
            if ($("#navbar-collapse-jq").hasClass("navbar-open") == true) {
                /*jquery for navbar collapse*/
                $('#navbar-collapse-jq').removeClass('navbar-open');
                $('#navbar-collapse-jq').addClass('navbar-closed');
                /*change toggle-button to have icon X*/
                $('.top-bar').removeClass('top-bar-open');
                $('.top-bar').addClass('top-bar-collapsed');
                $('.middle-bar').removeClass('middle-bar-open');
                $('.middle-bar').addClass('middle-bar-collapsed');
                $('.bottom-bar').removeClass('bottom-bar-open');
                $('.bottom-bar').addClass('bottom-bar-collapsed');

            }
            else if ($("#navbar-collapse-jq").hasClass("navbar-closed") == true) {
                /*jquery for navbar drop-down*/
                $('#navbar-collapse-jq').removeClass('navbar-closed');
                $('#navbar-collapse-jq').addClass('navbar-open');
                /*change toggle-button to have icon bar*/
                $('.top-bar').removeClass('top-bar-collapsed');
                $('.top-bar').addClass('top-bar-open');
                $('.middle-bar').removeClass('middle-bar-collapsed');
                $('.middle-bar').addClass('middle-bar-open');
                $('.bottom-bar').removeClass('bottom-bar-collapsed');
                $('.bottom-bar').addClass('bottom-bar-open');
                
            }
        });

       

    </script>
    
</body>
</html>
